<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7368c40b21.js"
      crossorigin="anonymous"
    ></script>
    <title>drawUML</title>
  </head>
  <body>
    
    <section>
      <div class="site-info flex-row">
        <div class="info flex-row">
          <h1>drawUML</h1>
          <p>Verison 0.0.1</p>
        </div>
        <div>
        </div>
        <div style="color: blue;">
          <i class="fas fa-save fa-2x" style="margin: 40px;"></i><i class="fas fa-copy fa-2x"></i>
        </div>
        <div class="info-btn flex-row">
          <button class="btn create-table-btn">
            Create Table
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 15 15"
              width="12"
              height="12"
              style="margin-left: 0.33em"
            >
              <g
                stroke="currentColor"
                stroke-width="1.75"
                fill="none"
                fill-rule="evenodd"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M4.497 1H3a2 2 0 00-2 2v9a2 2 0 002 2h9a2 2 0 002-2v-1.5h0"
                  opacity=".6"
                ></path>
                <path d="M9 1.008L14 1v5M14 1L6 9"></path>
              </g>
            </svg>
          </button>
          <i class="fa fa-question-circle fa-2x" style="color: blue;"></i>
        </div>
      </div>
    </section>

    <section>
      <div class="data grid">
        <div class="functions-list"></div>
        <div class="data-model-canvas">
          <div class="diagram">
            <div class="uml">
              <input
                type="text"
                placeholder="Object Name"
                class="object-name"
              />
              <div class="grid-table"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="data-model data-model-grid"></div>
    </section>

    <script src="/static/js/index.js"></script>
  </body>
</html>
